.blogBanner{
  width: 100%;
  background-color: rgb(38, 38, 38);
  height: 120px;
  margin-top: 85px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.headingBanner {
  width: 84%;
  margin: auto;
  
  
  
 
}

 .bannerH1 {
  font-size: xx-large;
  text-align: center;
  color: #ffffff;
  
}
.bannerIcon{
  margin-right: 100px;
  text-align: center;
  
}

.container {
  width: 92%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4%;
  margin: auto;
  /* background-color: rgb(255, 219, 180); */
  animation: fadeIn 1s ease-in-out;
}

.imageContainer {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.image {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.formContainer {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
  animation: slideIn 1s ease-in-out;
}

.formHeading{
  text-align: center;
  margin-bottom: 20px;
  font-size: larger;
}



.formGroup {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.submitButton:hover {
  background-color: #45a049;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.successIcon {
  display: inline-block;
  justify-content: center;
  color: #4CAF50;
  font-size: 50px;
  margin-bottom: 10px;
}

.okButton {
  display: inline-block;
  width: 70px;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.okButton:hover {
  background-color: #45a049;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
      transform: translateX(-50%);
  }
  to {
      transform: translateX(0);
  }
}
