.newsnotification {
  padding: 0 4%;
}

.mainSliderAndNotification {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mainSliderBox {
  width: 60%;
  margin-left: 0;
}

.mainSlider {
  width: 100%;
  padding-top: 50%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.mainSlider .mainSliderList {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}

.mainSlider .mainSliderList img {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.mainSlider .mainSliderButtons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.mainSlider .mainSliderButtons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 148, 148, 0.333);
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.mainSliderButtons button:hover {
  background-color: rgba(189, 109, 109, 0.333);
}

.mainSlider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.mainSlider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.mainSlider .dots li.active {
  width: 30px;
}

.notification {
  width: 38%;
  background-color: #f6f5f4;
  border: 2px solid rgb(221, 221, 221);
  margin-left: 2%;
}

.heading {
  height: 40px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.headingBox2 {
  height: 40px;
  width: 33%;
  border: 0.5px solid #e1e1e1;
  background-color: #f6f5f4;
}

.headingBox3 {
  height: 40px;
  width: 33%;
  border: 0.5px solid #e1e1e1;
  background-color: #f6f5f4;
}

.headingText {
  width: 34%;
  height: 40px;
  background-color: rgb(255, 255, 255);
  align-items: center;
}

.headingText h4 {
  
  display: flex;
  align-self: center;
  justify-content: center;
  padding-top: 10px;
  color: red;
}

.notificationContainer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.newNotification {
  list-style-type: none;
  display: flex;
  margin-bottom: 30px;
}

.newNotification li {
  border-bottom: 2px solid black;
}

.newNotification a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  color: #084298;
  display: flex;
}

.newNotification a:hover {
  color: #0000ff;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.notification img {
  height: 300px;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .mainSliderAndNotification {
    width: 100%;
    display: block;
  }

  .mainSliderBox {
    width: 100%;
    margin-left: 0;
  }

  .notification {
    width: 100%;
    margin-top: 2%;
    margin-left: 0;
  }
}

@media screen and (max-width: 400px){
  .headingText h4{
    font-size: 13px;
  }
}