/*   === About Section Starts ===   */
.sectionHeader {
  max-width: 400px;
  margin-bottom: 35px;
}

.sectionHeader h3 {
  position: relative;
  display: inline-block;
  color: rgb(248, 116, 1);
  font-size: calc(18px + 1vw);
  
  font-weight: 600;
  cursor: pointer;
}

.sectionHeader h3::before {
  position: relative;
  content: '';
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: var(--text-clr);
  margin-right: 10px;
  margin-bottom: 6px;
  transition: width 0.5s;
}

.sectionHeader h3:hover::before {
  width: 45px;
}

.sectionHeader h1 {
  
  font-size: calc(18px + 0.5vw);
  font-weight: 500;
  margin-top: 7px;
}


/*   === About Section Starts ===   */
.about {
  position: relative;
  width: 100%;
  padding: 30px 4% 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 50px 4%;
  background-color: var(--light-grey-bg);
  margin-top: 50px;
}

.aboutImg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtubeShort{
  width:315px;
  height:400px; 
}

.aboutText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sectionHeader {
  margin-bottom: 15px;
}

.aboutText p {
  font-size: 15px;
  color: var(--heading-clr);
  line-height: 1.4;
  margin-bottom: 10px;
}

.aboutList {
  list-style: none;
  padding: 0;
}

.aboutList li {
  position: relative;
  padding-left: 25px;
  margin: 10px 0px;
  font-size: 15px;
  color: var(--text-clr);
}

.aboutList li::before {
  content: attr(check);
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  left: 0px;
  top: -2px;
  color: var(--heading-clr);
}

.aboutBtn {
  margin-top: 25px;
}

/*   === About Section Ends ===   */

@media(max-width: 868px) {
  /* About Section */
  .about {
    grid-template-columns: 1fr;
  }

  .aboutImg {
    justify-content: center;
  }
}

@media(max-width: 330px) {
  /* About Section */
 .youtubeShort{
    width:92%;
    height: 330px;
    
 }

}

/*   === Button Styles ===   */
.btn {
  background-color: #ff6f61;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.btn:hover {
  background-color: #e55b53;
}
