/*   === Courses Section Starts ===   */
/* HeaderSection.module.css */

.sectionHeader {
  max-width: 400px;
  margin-bottom: 35px;
}

.sectionHeader h3 {
  position: relative;
  display: inline-block;
  color: rgb(248, 116, 1);
  font-size: calc(18px + 1vw);
  
  font-weight: 600;
  cursor: pointer;
}

.sectionHeader h3::before {
  position: relative;
  content: '';
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: var(--text-clr);
  margin-right: 10px;
  margin-bottom: 6px;
  transition: width 0.5s;
}

.sectionHeader h3:hover::before {
  width: 45px;
}

.sectionHeader h1 {
  
  font-size: calc(18px + 0.5vw);
  font-weight: 500;
  margin-top: 7px;
}


.courses {
  width: 100%;
  padding: 40px 4% 40px;
  margin-bottom: 40px;
}



.coursesContents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.courseBox {
  flex-basis: calc(calc(100% / 4) - 2%);
  padding: 25px 20px;
  cursor: pointer;
  transition: all 0.3s;
  background: rgba(247, 249, 229, 0.659);
  box-shadow: 0 2px 20px rgba(151, 151, 151, 0.351);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  background-color: rgba(212, 241, 251, 0.375);
}

.courseBox:hover {
  transform: scale(1.05);
}

.courseBoxTop {
  align-items: center;
  text-align: center;
}

.courseBoxTop img {
  width: 100%;
  /* height: 150px; Fixed height for images */
  object-fit: cover;
}

.courseDesc {
  margin-top: 25px;
}

.courseDesc h2 {
  margin-bottom: 10px;
  color: var(--heading-clr);
  font-size: calc(18px + 0.2vw);
}

.courseDesc p {
  font-size: 15px;
  line-height: 1.4;
  color: var(--text-clr);
}

.courseBtn {
  border: none;
  padding: 6px 12px;
  margin-top: 10px;
  color: var(--light-grey-bg);
  background-color: var(--heading-clr);
  border-radius: 4px;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.4s;
  cursor: pointer;
}

.courseBtn:hover {
  background-color: #fbc980;
  color: var(--heading-clr);
}

@media(max-width: 1100px) {
  .courseBox {
      flex-basis: calc(calc(100% / 3) - 2%);
  }
}

@media(max-width: 850px) {
  .courseBox {
      flex-basis: calc(calc(100% / 2) - 2%);
      margin-bottom: 10px;
  }
}

@media(max-width: 560px) {
  .courseBox {
      flex-basis: calc(calc(100% / 1) - 2%);
  }
}
/*   === Courses Section Ends ===   */
