.footer {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  background-color: #141b23;
  background-image: url(../../assets/photoes/footer-widget-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 100px;
}

/* Footer Contents */
.footerContents {
  width: 92%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 4%;
  
}

/* Footer Columns */
.footerCol {
  flex-basis: calc(calc(100% / 4) - 20px);
}

.footerCol1 .colTitle h4,
.footerCol2 .colTitle h4,
.footerCol3 .colTitle h4,
.footerCol4 .colTitle h4 {
  color: rgb(255, 255, 255);
}

.footerCol .colTitle {
  min-height: 60px;
  display: flex;
  align-items: flex-end;
  

}
.hrLine {
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  border: none;
  border-top: 2px solid #ffffff; /* You can also use color: rgb(0, 0, 0); as border-color if necessary */
}

.footerCol .colTitle h4 {
  font-size: (15px + .5vw);
  font-weight: 600;
}

.footerCol .colContents {
  display: flex;
  flex-direction: column;
}

.footerCol .colContents ul {
  color: #999999;

}

.footerCol .colContents ul li {
  margin-top: 10px;
}

.footerCol .colContents ul li a {
  text-decoration: none;
  transition: transform 1s;
  color: #999999;
  font-size: 15px;
  /* font-weight: 550; */
  /* font-family: Open Sans, Arial, sans-serif; */
}

.footerCol .colContents ul li a:hover {
  transform: translateY(8px);
  color: white;
  font-size: 16px;
  margin-left: 5px;
}

/* Footer Part 2 */
.footerPart2 {
  width: 92%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 4%;
}

.footerLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}

.footerLogo img {
  width: 160px;
  height: 70px;
  padding: 10px;
}

.socialUl {
  display: flex;
  margin-top: 10px;
  padding: 10px;
}

.socialUl li {
  position: relative;
  display: block;
  font-size: 25px;
  height: 35px;
  width: 35px;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.socialUl li a {
  color: inherit;
}

.socialUl li i {
  margin-left: 5px;
  margin-top: 5px;
}

.socialUl li:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  border-radius: 5px;
  transform: scale(0.9);
  z-index: -1;
  transition: 0.5s;
}

.socialUl li:nth-child(1):before {
  background: #1DA1F2;
}

.socialUl li:nth-child(2):before {
  background: #2867B2;
}

.socialUl li:nth-child(3):before {
  background: #E1306C;
}

.socialUl li:nth-child(4):before {
  background: #2867B2;
}

.socialUl li:nth-child(5):before {
  background: #ff0000;
}

.socialUl li:hover:before {
  filter: blur(3px);
  transform: scale(1.2);
}

.socialUl li:nth-child(1):hover {
  color: #26a4f2;
  box-shadow: 0 0 15px #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
}

.socialUl li:nth-child(2):hover {
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867B2;
  text-shadow: 0 0 15px #2867B2;
}

.socialUl li:nth-child(3):hover {
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}

.socialUl li:nth-child(4):hover {
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867B2;
  text-shadow: 0 0 15px #2867B2;
}

.socialUl li:nth-child(5):hover {
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}

/* Footer Part 2 Columns */
.footerPart2Col {
  flex-basis: calc(calc(100% / 3) - 20px);
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.footerPart2Col1 {
  width: 33%;
  display: flex;
}


.footerPart2ColContent {
  display: block;
  padding-left: 15px;
}

.footerPart2ColContent p {
  font-size: 14px;
  color: #cecece;
  /* padding-top: 10px; */
}

.footerPart2Heading h3 {
  color: #cecece;
  font-weight: 600;
  font-size: (15px + .5vw);
}

.footerPart2Col2 {
  width: 33%;
  display: flex;
}

.footerPart2Col3 {
  width: 34%;
  display: flex;
}
.addressIcon{
  width: 100px;
  height: 100px;
  color: #cecece;
  padding-bottom: 15px;
}

/* Responsive Styles */
@media (max-width: 1050px) {
  .footerPart2Col {
    flex-basis: calc(calc(100% / 2) - 20px);
    width: 100%;
  }
  .footerCol {
    flex-basis: calc(calc(100% / 2) - 20px);
  }
}

@media (max-width: 800px) {
  .footerPart2Col {
    display: block;
    flex-basis: calc(calc(100% / 2) - 20px);
    width: 100%;
  }
  .footerPart2Col1 {
    width: 50%;
    margin-bottom: 15px;
  }
  .footerPart2Col2 {
    width: 50%;
    margin-bottom: 15px;
  }
  .footerPart2Col3 {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .footerPart2Col {
    display: block;
    flex-basis: calc(calc(100% / 2) - 20px);
    width: 100%;
  }
  .footerPart2Col1 {
    width: 100%;
    margin-bottom: 15px;
  }
  .footerPart2Col2 {
    width: 100%;
    margin-bottom: 15px;
  }
  .footerPart2Col3 {
    width: 100%;
    margin-bottom: 15px;
  }
  .footerCol {
    flex-basis: calc(calc(100% / 1) - 20px);
  }
}

/* Copy Rights */
.copyRights {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ebebec;
  text-align: center;
  background-color: #151925;
  width: 100%;
  justify-content: center;
}

.copyRights p {
  color: #ffffff;
  padding: 1px;
  font-size: 15px;
  align-items: center;
}

.copyRights p a {
  text-decoration: none;
  color: #cececece;
  padding-bottom: 10px;
}

.copyRights p b {
  color: #ff3131;
}

.copyRights p span {
  color: #ffffff;
}
